* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #304356;
}

/* Header */
.header {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 30px;
}

/*nav bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #1e293b;
    color: white;
}
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration:none;
}
li:hover{
    background-color: #0a0909;
}
/* Main container */
.container {
    padding: 30px;
    max-width: 1000px;
    margin: 20px auto;
    background: rgb(248, 246, 246);
    box-shadow: 0 4px 6px rgba(95, 82, 82, 0.087);
    border: 2px solid black;
}

/* Profile section */
.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.profile img {
    width: 200px;
    border-radius: 100px;
}

.info a {
    text-decoration: none;
    color: #2563eb;
}

/* Contaner education section */
.Education-section {
    padding: 20px;
    max-width: 1000px;
    margin:  20px;
}

/* Flexbox wrapper */
.education-container {
    display: flex;
    flex-direction: column; 
    min-width: none;
    overflow-x: auto; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(31, 30, 30, 0.1);
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    width: auto; 
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #0f0d0d;
}

th {
    background-color: #66c6b3;
    color: white;
    text-transform: uppercase;
    font-size: medium;
}

tr:hover {
    background-color: #bfbebe;
}

/*  Contact Form flexbox*/
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.skills li {
    background: #e2e8f0;
    padding: 8px 12px;
    border-radius: 5px;
}

/* Projects */
.projects {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
}

/* Contact */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

input, textarea, button {
    padding: 10px;
}

button {
    background: #1e293b;
    color: white;
    border: none;
}

/* Footer */
.footer {
    text-align: center;
    background: #1e293b;
    color: white;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {

    .profile {
        flex-direction: row;
        text-align: left ;
    }
    .Education-section h2 {
        text-align: center;
    }
    .education-container {
        border: 1px solid #dbd0d0;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .skills {
        flex-direction: column;
    }
    .info{
        flex:1
    }
}
