body {
    background-color:rgb(255, 255, 255);
    color: #46466a;
    padding: 5px;
    margin: auto;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
}
#greeting {
    background-color:rgb(39, 31, 31);
    color: white;
    margin: 10px;
}